.syncing-box
  .box-content.col-lg-12
    .title
      .row.center
        .row
          .col-lg-12
            = image_tag('jurnal-icon',:width => 70,:height => 70)
          .col-lg-12
            %h3
              Webhook
    .content
      .row.adjust-margin-left.access-token-info
        .row
          Your Webhook ID is
          %code
            = @webhook_user.try(:get_webhook_response_id)

    .row.footer
      .col-lg-6.col-md-6.col-sm-6
        = button_to "Back", profile_welcomes_path, class: "btn btn-primary",method: 'get'
      .col-lg-6.col-md-6.col-sm-6.text-right
        .btn.btn-success.webhook-history-log
          Webhook History Log 
        
    .row.footer
      .col-lg-12.text-right
        .btn.btn-danger.delete-webhook
          Delete Webhook

- content_for :scripts do
  = javascript_include_tag 'profile', "data-turbolinks-track" => true
